/*
Stylesheet for CIT261 website
*/
/********** Reset *************/
* {
    box-sizing: border-box;
    margin: 0;
} 
/********* Page Sections *******/
html {
    background-color: lightsteelblue;
}
body {
    background-color: #f1f1f1;
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}

/********* Header ************/
header {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    background-color: #92afd1;
    padding-left: 15px;
}
.logo {
    float: left;
    font-family: sans-serif;
    font-weight: bold;
    color: #f1f1f1;
    margin-top: 15px;
}
/********** nav *************/
nav a{
    text-decoration: none;
    color: #f1f1f1;
    display: block;

}
nav ul {
    list-style: none;
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0;
}
nav {
    float: right;
}
.top li {
    float: left;
    width: 80px;

}
.top li a {
    display: block;
    padding: 9px 10px;
}
.top li:hover > a {
    color: black;
}
.top li:hover ul {
    display: block;
    backtround-color: buttonface;
}
.top li:active > a {
    color: gray;
}
/*********** sub menu **********/
.sub {
    position: absolute;
    z-index: 200;
    width: 85px;
    padding: 0;
    display: none;
}
.sub li {

    margin: 0;
}
.sub li a {
    border-bottom: 1px solid lightsteelblue;
    color: gray;
    background-color: buttonface;
    line-height: 1em;

}
.sub li:hover a {
    background-color: lightsteelblue;
}
li {
    line-height: 2em;
}


/******** Footer *************/
footer {
    background-color: #92afd1;
    width: 100%;
    max-width: 960px;
    color: gray;
    height: 50px;
    margin: 0 auto;
    padding: 8px 0 0 15px;

}



/******** Main ***********/
main {
    max-width: 960px;
    width: 95%;
    margin: 50px auto;
    padding: 0 15px;

}

/******** Headings and Text **********/
h1 {
    font-family: sans-serif;
    line-height: 1.2em;
    margin-bottom: 30px;
    font-size: 1.5em;
    margin-top: -5px;
}
h2 {
    margin: 30px 0;

}
h3 {

    margin: 15px 0;
    font-size: 20px;
}
p {
    margin: 15px 15px;
    font-size: 1.1em;
}
/******** Main links *********/
main a, main a:visited {
    text-decoration: none;
    color: black;
}
main a:hover {
    color: #92afd1;
}
main a:active {
    color: gray;
}

/******** All Pages ********/
section {
    border-top: 2px solid lightsteelblue;
    margin-bottom: 40px;

}

.code {
    background-color: gray;
    color: #ffffff;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2em;

}
.result {
    background-color: lightgray;
    color: black;
    padding: 10px;
}
button {
    margin: 10px 10px;
    background-color: white;
}
label { 
    width: 100px;
    display: inline-block;
}
/*********** Topic 7 ***********/

.underlined {
    text-decoration: underline;
}
.bolded {
    font-weight: 700;
}
.colorChange {
    background-color: #fde6ea;
}
.colorBlue {
    color: blue;
}
.colorYellow {
    background-color: yellow;
}
/*********** Topic 8 ***********/
.abs {
    position: relative;
}
#move, #move2 {
    width: 100px;
    height: 75px;
    background-color: steelblue;
    border-radius: 5px;

}
#move:hover, #move2:hover {
    width: 75px;
    transform: translateX(10px);
    background-color: darkgray;
    border-radius: 50%;
}
#move2 {
    transition: width 2s, transform 2s, background-color 1s 2s, border-radius 3s ease-in;
}
#move3 {
    width: 100px;
    height: 75px;
    background-color: steelblue;
    border-radius: 5px;


}
#move3:hover {
    width: 100px;
    height: 75px;
    background-color: steelblue;
    border-radius: 5px; 
    animation: mover 5s ;
}

.move4 {
    background-color: lightsteelblue;
    color: lightsteelblue;
    display: block;
    padding: 10px;
    position: absolute;
    transition: transform 1s, color 1s, visibility 1s ease-in;
    transform: translateX(-190px);
    width: 150px;   
}
.btnMove {
    position: absolute;
    right: -110px;
    top: 0px;

}
/* move4 when open*/


.menuIcon {

    height: 40px;
    position: relative;
    padding: 10px;
    transform: translate(0px, 0px);
    transition: transform .2s ease-in;
    width: 40px;
    z-index: 200;
}
.menuIcon:hover {
    background-color: lightsteelblue;
}
.menuIcon span {
    background-color: steelblue;
    display: block;
    height: 1.5px;
    position: relative;
    width: 20px;
}
.menuIcon span::before {
    background-color: steelblue;
    content: "";
    height: 1.5px;
    position: absolute;
    transform: translateY(7px);
    width: 20px;

}
.menuIcon span::after {
    background-color: steelblue;
    content: "";
    height: 1.5px;
    position: absolute;
    transform: translateY(14px);
    width: 20px;
}
.moveIt {
    transform: translateX(0px);
    color: black;
    visibility: visible;
}
.move5 {
    background-color: lightsteelblue;
    color: rgba(255, 255, 255, 0);
    display: block;
    padding: 10px;
    position: absolute;
    transition: transform 1s, color 1s, visibility 1s ease-in;
    transform: translateX(-190px);
    width: 150px;
    height: 20px;
}
.moveIt2 {
    animation: mover2 1s linear normal 1 forwards;
}

.moveIt3 {
    animation: mover3 1s linear normal 1 forwards;
}
.iconOpen span {

    transform: rotate(45deg) translate(7px,7px);


}
.iconOpen span::before {
    transform: rotate(-90deg);
}
.iconOpen span::after {
    opacity: 0;
}
.result2 {
    background-color: lightgray;
    color: black;
    height: 40px;
    z-index: 100;
    position: relative;

}
/********** keyframes **********/
@keyframes mover {
    0% {
        width: 100px;
        background-color: steelblue;
        border-radius: 5px;
    }
    25% {
        width: 75px;
        border-radius: 50%;
        transform: translateX(20px);
    }
    50% {
        width: 150px;
        background-color: darkGray;
        border-radious: 25%;
        transform: translateX(0px);
    }
    75% {
        width: 50px;
        border-radius: 10px;
        transform: translateX(35px);
    }
    100% {
        width: 100px;
        height: 75px;
        background-color: steelblue;
        border-radius: 5px;
    }
}   @keyframes mover2 {
    0% {
        background-color: lightsteelblue;
        display: block;
        overflow: hidden;
        color: rgba(255, 255, 255, 0);
        padding: 10px;
        position: absolute;
        transition: transform 1s, color 1s, visibility 1s ease-in;
        transform: translateX(-190px);
        width: 150px;
        height: 20px;
    }
    25% {
        transform: translateX(0px);
        height: 20px;
        background-color: lightsteelblue;

    }
    50% {
        height: 100px;
        background-color: lightsteelblue;


    }
    75% {
        background-color: steelblue;
        color: rgba(255, 255, 255, 0);

    }
    100% {
        transform: translateX(0px);
        background-color: steelblue;
        color: rgba(255, 255, 255, 1.0);
        overflow: visible;
        height: 100px;
    }
}
@keyframes mover3 {
    0% {
        transform: translateX(0px);
        background-color: steelblue;
        color: rgba(255, 255, 255, 1.0);
        overflow: visible;
        height: 100px;
    }
    25% {
        background-color: steelblue;
        color: rgba(255, 255, 255, 0);

    }
    50% {
        height: 100px;
        background-color: lightsteelblue;


    }
    75% {
        
        transform: translateX(0px);
        height: 20px;
        background-color: lightsteelblue;
    }
    100% {
        
        background-color: lightsteelblue;
        display: block;
        overflow: hidden;
        color: rgba(255, 255, 255, 0);
        padding: 10px;
        position: absolute;
        transition: transform 1s, color 1s, visibility 1s ease-in;
        transform: translateX(-190px);
        width: 150px;
        height: 20px;
    }
}

/************ Topic 9 *****************/
.bow {
    background-color: red;
    background: linear-gradient(red, orange, yellow, green, blue, indigo, purple);
    color: white;
    display: block;
    width: 180px;
    height: 90px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    margin-top: 15px;
    margin-left: 15px;
    position: relative;
}
.bow::after {
    content: '';
    position: absolute;
    width: 90px;
    height: 45px;
    background-color: #f1f1f1;
    transform: translate(45px, 45px);
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}
.rainbow {
    animation: rainbow 2s 3 forwards;
}
@keyframes rainbow {
    0% { background-color: red;
         background: linear-gradient(red, orange, yellow, green, blue, indigo, purple);}
    15% { background-color: orange;
          background: linear-gradient(orange, yellow, green, blue, indigo, purple, red);}
    30% { background-color: yellow;
    background: linear-gradient(yellow, green, blue, indigo, purple, red, orange);}
    45% { background-color: green;
    background: linear-gradient(green, blue, indigo, purple, red, orange, yellow);}
    60% { background-color: blue;
    background: linear-gradient(blue, indigo, purple, red, orange, yellow, green);}
    75% { background-color: indigo;
    background: linear-gradient(indigo, purple, red, orange, yellow, green, blue);}
    90% { background-color: orange;
    background: linear-gradient(purple, red, orange,  yellow, green, blue, indigo);}
    100% { background-color: purple;
    background: linear-gradient(red, orange, yellow, green, blue, indigo, purple);}
}
.secret {
    display: none;
    background-color: steelblue;
    color: #f1f1f1;
    padding: 10px;
    
}

.reveal {
    display: block; 
}
.mouse, .touches {
    background-color: lightsteelblue;
    margin: 0;
    padding: 10px;
}
.time:focus, .time:hover {
   background-color: lightsteelblue;
   
}
.colorSteel {
    background-color: steelblue;
}
.colorLightSteel {
    background-color: lightsteelblue;
}
.cloud {
    width: 100px;
    height: 35px;
    border-radius: 25px;
    background-color: lightgray;
    position: absolute; 
    z-index: 10;
    box-shadow: 1px 1px 2px gray; 
}
.cloud::before {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    content: '';
    position: absolute;
    transform: translate(15px, -20px);
    background-color: lightgray;
}
.cloud::after {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    content: '';
    position: absolute;
    transform: translate(40px, -30px);
    background-color: lightgray;
}
.cloud1 {
    transform: translate(-15px, 0px);
    visibility: hidden;
}
.cloud2 {
    transform: translate(55px, 10px); 
    visibility: hidden; 
}
.cloud3 {
    transform: translate(120px, 0px);
    visibility: hidden;
}
.dbl2 {
    position: relative;
}
.double {
    position: absolute;
    transform: translateY(-8px);

}
.cloudy {
    visibility: visible;
}
#dragBox  {
    max-width: 300px;
    
}