/*
Stylesheet for CIT261 website
*/
/********** Reset *************/
* {
    box-sizing: border-box;
    margin: 0;
} 
/********* Page Sections *******/
html {
    background-color: lightsteelblue;
}
body {
    background-color: #f1f1f1;
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}

/********* Header ************/
header {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    background-color: #92afd1;

}
.logo {
    float: left;
    font-family: sans-serif;
    font-weight: bold;
    color: #f1f1f1;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 0;
}
/********** nav *************/
nav a{
    text-decoration: none;
    color: #f1f1f1;
    display: block;

}
nav ul {
    list-style: none;
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0;
}
nav {
    float: right;
}
.top li {
    float: left;
    width: 80px;

}
.top li a {
    display: block;
    padding: 9px 10px;
}
.top li:hover > a {
    color: black;
}
.top li:hover ul {
    display: block;
    background-color: buttonface;
}
.top li:active > a {
    color: gray;
}
/*********** sub menu **********/
.sub {
    position: absolute;
    z-index: 200;
    width: 85px;
    padding: 0;
    display: none;
}
.sub li {

    margin: 0;
}
.sub li a {
    border-bottom: 1px solid lightsteelblue;
    color: gray;
    background-color: buttonface;
    line-height: 1em;

}
.sub li:hover a {
    background-color: lightsteelblue;
}
li {
    line-height: 2em;
}


/******** Footer *************/
footer {
    background-color: #92afd1;
    width: 100%;
    max-width: 960px;
    color: gray;
    height: 50px;
    margin: 0 auto;
    padding: 8px 0 0 15px;

}



/******** Main ***********/
main {
    max-width: 960px;
    width: 95%;
    margin: 50px auto;
    padding: 0 15px;

}

/******** Headings and Text **********/
h1 {
    font-family: sans-serif;
    line-height: 1.2em;
    margin-bottom: 30px;
    font-size: 1.5em;
    margin-top: -5px;
}
h2 {
    margin: 30px 0;

}
h3 {

    margin: 15px 0;
    font-size: 20px;
}
p {
    margin: 15px 15px;
    font-size: 1.1em;
}
/******** Main links *********/
main a, main a:visited {
    text-decoration: none;
    color: black;
}
main a:hover {
    color: #92afd1;
}
main a:active {
    color: gray;
}

/******** All Pages ********/
section {
    border-top: 2px solid lightsteelblue;
    margin-bottom: 40px;

}

.code {
    background-color: gray;
    color: #ffffff;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2em;
    overflow-x: hidden;

}
.result {
    background-color: lightgray;
    color: black;
    padding: 10px;
}
button {
    margin: 10px 10px;
    background-color: white;
}
label { 
    width: 100px;
    display: inline-block;
}
/*********** Topic 7 ***********/

.underlined {
    text-decoration: underline;
}
.bolded {
    font-weight: 700;
}
.colorChange {
    background-color: #fde6ea;
}
.colorBlue {
    color: blue;
}
.colorYellow {
    background-color: yellow;
}
/*********** Topic 8 ***********/
.abs {
    position: relative;
}
.move, .move2 {
    width: 100px;
    height: 75px;
    background-color: steelblue;
    border-radius: 5px;

}
.move:hover, .move2:hover {
    width: 75px;
    transform: translateX(10px);
    background-color: darkgray;
    border-radius: 50%;
}
.move2 {
    transition: width 2s, transform 2s, background-color 1s 2s, border-radius 3s ease-in;
}
.move3 {
    width: 100px;
    height: 75px;
    background-color: steelblue;
    border-radius: 5px;


}
.move3:hover {
    width: 100px;
    height: 75px;
    background-color: steelblue;
    border-radius: 5px; 
    animation: mover 5s ;
}

.move4 {
    background-color: lightsteelblue;
    color: lightsteelblue;
    display: block;
    padding: 10px;
    position: absolute;
    transition: transform 1s, color 1s, visibility 1s ease-in;
    transform: translateX(-190px);
    width: 150px;   
}
.btnMove {
    position: absolute;
    right: -110px;
    top: 0;

}
/* move4 when open*/


.menuIcon {

    height: 40px;
    position: relative;
    padding: 10px;
    transform: translate(0px, 0px);
    transition: transform .2s ease-in;
    width: 40px;
    z-index: 200;
}
.menuIcon:hover {
    background-color: lightsteelblue;
}
.menuIcon span {
    background-color: steelblue;
    display: block;
    height: 1.5px;
    position: relative;
    width: 20px;
}
.menuIcon span::before {
    background-color: steelblue;
    content: "";
    height: 1.5px;
    position: absolute;
    transform: translateY(7px);
    width: 20px;

}
.menuIcon span::after {
    background-color: steelblue;
    content: "";
    height: 1.5px;
    position: absolute;
    transform: translateY(14px);
    width: 20px;
}
.moveIt {
    transform: translateX(0px);
    color: black;
    visibility: visible;
}
.move5 {
    background-color: lightsteelblue;
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
    display: block;
    padding: 10px;
    position: absolute;
    transition: transform 1s, color 1s, visibility 1s ease-in;
    transform: translateX(-190px);
    width: 150px;
    height: 20px;
}
.moveIt2 {
    animation: mover2 1s linear normal 1 forwards;
}

.moveIt3 {
    animation: mover3 1s linear normal 1 forwards;
}
.iconOpen span {

    transform: rotate(45deg) translate(7px,7px);


}
.iconOpen span::before {
    transform: rotate(-90deg);
}
.iconOpen span::after {
    opacity: 0;
}
.result2 {
    background-color: lightgray;
    color: black;
    height: 40px;
    z-index: 100;
    position: relative;

}
/********** keyframes **********/
@keyframes mover {
    0% {
        width: 100px;
        background-color: steelblue;
        border-radius: 5px;
    }
    25% {
        width: 75px;
        border-radius: 50%;
        transform: translateX(20px);
    }
    50% {
        width: 150px;
        background-color: darkGray;
        border-radius: 25%;
        transform: translateX(0px);
    }
    75% {
        width: 50px;
        border-radius: 10px;
        transform: translateX(35px);
    }
    100% {
        width: 100px;
        height: 75px;
        background-color: steelblue;
        border-radius: 5px;
    }
}   @keyframes mover2 {
    0% {
        background-color: lightsteelblue;
        display: block;
        overflow: hidden;
        color: transparent;

        padding: 10px;
        position: absolute;
        transition: transform 1s, color 1s, visibility 1s ease-in;
        transform: translateX(-190px);
        width: 150px;
        height: 20px;
    }
    25% {
        transform: translateX(0px);
        height: 20px;
        background-color: lightsteelblue;

    }
    50% {
        height: 100px;
        background-color: lightsteelblue;


    }
    75% {
        background-color: steelblue;
        color: transparent;


    }
    100% {
        transform: translateX(0px);
        background-color: steelblue;
        color: rgb(255, 255, 255);

        overflow: visible;
        height: 100px;
    }
}
@keyframes mover3 {
    0% {
        transform: translateX(0px);
        background-color: steelblue;
        color: white;
        overflow: visible;
        height: 100px;
    }
    25% {
        background-color: steelblue;
        color: transparent;
    }
    50% {
        height: 100px;
        background-color: lightsteelblue;


    }
    75% {
        
        transform: translateX(0px);
        height: 20px;
        background-color: lightsteelblue;
    }
    100% {
        
        background-color: lightsteelblue;
        display: block;
        overflow: hidden;
        color: transparent;
        padding: 10px;
        position: absolute;
        transition: transform 1s, color 1s, visibility 1s ease-in;
        transform: translateX(-190px);
        width: 150px;
        height: 20px;
    }
}

/************ Topic 9 *****************/
.bow {
    background-color: red;
    background: linear-gradient(red, orange, yellow, green, blue, indigo, purple);
    color: white;
    display: block;
    width: 180px;
    height: 90px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    margin-top: 15px;
    margin-left: 15px;
    position: relative;
}
.bow::after {
    content: '';
    position: absolute;
    width: 90px;
    height: 45px;
    background-color: #f1f1f1;
    transform: translate(45px, 45px);
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}
.rainbow {
    animation: rainbow 2s 3 forwards;
}
@keyframes rainbow {
    0% { background-color: red;
         background: linear-gradient(red, orange, yellow, green, blue, indigo, purple);}
    15% { background-color: orange;
          background: linear-gradient(orange, yellow, green, blue, indigo, purple, red);}
    30% { background-color: yellow;
    background: linear-gradient(yellow, green, blue, indigo, purple, red, orange);}
    45% { background-color: green;
    background: linear-gradient(green, blue, indigo, purple, red, orange, yellow);}
    60% { background-color: blue;
    background: linear-gradient(blue, indigo, purple, red, orange, yellow, green);}
    75% { background-color: indigo;
    background: linear-gradient(indigo, purple, red, orange, yellow, green, blue);}
    90% { background-color: orange;
    background: linear-gradient(purple, red, orange,  yellow, green, blue, indigo);}
    100% { background-color: purple;
    background: linear-gradient(red, orange, yellow, green, blue, indigo, purple);}
}
.secret {
    display: none;
    background-color: steelblue;
    color: #f1f1f1;
    padding: 10px;
    
}

.reveal {
    display: block; 
}
.mouse, .touches {
    background-color: lightsteelblue;
    margin: 0;
    padding: 10px;
}
.time:focus, .time:hover {
   background-color: lightsteelblue;
   
}
.colorSteel {
    background-color: steelblue;
}
.colorLightSteel {
    background-color: lightsteelblue;
}
.cloud {
    width: 100px;
    height: 35px;
    border-radius: 25px;
    background-color: lightgray;
    position: absolute; 
    z-index: 10;
    box-shadow: 1px 1px 2px gray; 
}
.cloud::before {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    content: '';
    position: absolute;
    transform: translate(15px, -20px);
    background-color: lightgray;
}
.cloud::after {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    content: '';
    position: absolute;
    transform: translate(40px, -30px);
    background-color: lightgray;
}
.cloud1 {
    transform: translate(-15px, 0px);
    visibility: hidden;
}
.cloud2 {
    transform: translate(55px, 10px); 
    visibility: hidden; 
}
.cloud3 {
    transform: translate(120px, 0px);
    visibility: hidden;
}
.dbl2 {
    position: relative;
}
.double {
    position: absolute;
    transform: translateY(-8px);

}
.cloudy {
    visibility: visible;
}
.dragBox  {
    max-width: 300px;
    
}
/********* Topic 10 ********/
.myCanvas {
    border: solid 1px #92afd1;
}
.video {
    margin: 0 auto;
    max-width: 750px;
}
video {
    width: 265px;
    height: 150px;

}
@media (min-width: 500px) {
    video {
        width: 450px;
        height: 254px;     
    }
}
@media (min-width: 800px) {
    video {
        width: 750px;
        height: 423px;
    }
}


/***********Topic 11 **********/

/*  Transition for header */
body {
    position: relative;
}
.wrapper {
    width: 95%;
    position: relative;
}
.examples li {
    display: inline-block;
    font-size: 1.2em;
}

.subhead {

    width: 100%;
    position: relative;
    padding: 25px 0 80px 0;
    top: 0px;
    height: 190px;
    transition: position .5s, padding .5s, height .5s;
    background-color: #ccdcea; 
    overflow: hidden;
    max-width: 960px;
    margin: 0 auto;
    z-index: 100;
}
.snap .subhead {
    position: fixed;
    padding-bottom: 0;
    height: 50px;
    max-width: 960px;
    width: 95%;
}

.examples {
    list-style: none;
    background-color: #92afd1;
    position: absolute;
    height: 50px;
    top: 140px;
    bottom: 0;
    padding-left: 0;
    width: 100%;
    transition: top .5s, bottom .5s, position .5s;   
}
.snap .examples {
    position: fixed;
    top: 0;
    width: 95%;
    max-width: 960px;
}
.main11 {
    transition: padding-top .5s;
}

.snap .main11 {
    padding-top: 40px;    
}

.subhead h1 {
    margin:  15px 15px 0 15px;
    transition: all .2s;
    
}
@media (max-width: 500px) {
    .subhead h1 {
        font-size: 20px;
    }
}
.head11 {
    margin-bottom: 0;
}
.examples li {
    text-decoration: none;
    color: #f1f1f1;
    display: inline-block;
    padding: 6px 15px;
    transition: all .2s;
}
.examples li:hover {
    background-color: lightsteelblue;
    color: steelblue;
}
.examples li:active {
    color: #f1f1f1;
}
   
.i1, .i2, .i3 {
    padding-top: 50px;
}
/* slideshow */
.slideshow {
    height: 330px;
    max-width: 500px;
    margin:10px auto 0 auto;
    position: relative;
}
.slides {
    position: absolute;
    transform: scale(0);
    transition: transform .5s ease-in-out, display .5s ease-in-out;
}
.activeImg {
    transform: scale(1);
    display: block;
}
.prev, .next {
    color: steelblue;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    position: absolute;
    top: 130px;
    width: auto;
    transition: color .5s;
}
.next {
    right: 0;
}
.prev:hover, .next:hover {
    color: white;
}
.text {
    background-color: steelblue;
    bottom: 50px;
    color: transparent;
    font-size: 15px;
    opacity: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: left;
    width: 0px;
    transition: width .5s .5s, color .5s .5s, opacity .5s .5s;
    
}
.slides img {
    width: 100%;
}
.activeImg .text {
    color: white;
    opacity: .9;
    width: 35%;
}
.dots {
    text-align: center;
    margin-top: -15px;

}
.dot {
    background-color: lightsteelblue;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    transition: background-color .6s ease;
    width: 15px;
    margin: 0 5px;
}
.active, .dot:hover {
    background-color: steelblue;
}
/* accordian section */
.open .collapse {
    height: 0;
    overflow: hidden;
    transition: all ease-in 1s;
    background-color: #f1f1f1;
    color: #f1f1f1;
    padding: 0 15px;
    margin: 0;
}
.open span {
    display: inline-block;
    transform: rotate(0deg);
    transition: transform .5s ease;
}
.open h4 {
    background-color: lightsteelblue;
    padding: 15px;
    display: block;
    border-top: solid 2px #f1f1f1;
}
.expand .collapse {
    height: 170px;
    padding: 15px 15px;
    background-color: steelblue;
}
.expand span {
    transform: rotate(-180deg);
}