/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 21, 2018, 12:58:59 PM
    Author     : Dresen_HP
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 21, 2018, 2:40:51 PM
    Author     : Dresen_HP
*/
/* reset */
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

html {
  overflow-x: hidden;
  position: relative;
  height: 100%; }

body, main {
  position: relative;
  height: 100%; }

.main {
  display: flex;
  flex-direction: column; }

.popup {
  display: none;
  opacity: 0;
  padding: 5px;
  position: absolute;
  text-align: left;
  top: 16vh;
  width: 95%;
  left: 2.5%;
  max-height: 85%;
  overflow-x: hidden;
  z-index: 20;
  background-color: rgba(200, 200, 200, 0.5); }
  .popup p {
    margin-left: 0; }
  .popup .explain {
    margin-top: 30px; }

.textBox, .textBox2 {
  background-color: rgba(200, 200, 200, 0.5);
  padding: 5px;
  position: relative;
  top: 3vh;
  width: 95%;
  left: 2.5%;
  overflow-y: auto; }
  .textBox h3, .textBox2 h3 {
    line-height: 1.5;
    font-size: 22px; }

.textBox2 {
  top: 120vh;
  display: none;
  opacity: 0; }

.openPop2 {
  display: block;
  top: 15vh;
  animation: openPopup 1s .25s both; }

.openPop {
  display: block;
  animation: openPopup 1s .5s both; }

@keyframes openPopup {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.closePop {
  animation: closePopup 1.5s  forwards; }

.closePop2 {
  animation: closePopUp .2s forwards; }

@keyframes closePopup {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.open .planH2 {
  height: 32px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 0 15px;
  float: right;
  text-align: center;
  font-family: sans-serif; }

.open .backButton {
  font-size: 1em;
  display: inline-block;
  color: #f1f1f1;
  float: right;
  margin-top: 5px; }

.mip {
  padding: 5px 5px 0px 5px; }

.ihp {
  margin-bottom: -5px; }

/*.closePop {
    animation: closePopUp 1s both;
}*/
.zipbox, .bikePopBox, .routeBox {
  border-radius: 5px;
  padding: 10px;
  margin: 5px 2px;
  background-color: rgba(0, 0, 0, 0.5); }

.bikePopBox {
  display: flex;
  flex-flow: row wrap; }

.routeBox .zipParent {
  margin-top: 15px; }

.zipcode, .timeinput, .bikeInput {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 16px;
  width: 100%;
  color: #2a4e6c;
  margin: 5px 0;
  border-radius: 5px;
  padding: 5px;
  height: 32px; }
  .zipcode:focus, .timeinput:focus, .bikeInput:focus {
    border: solid 2px #f1f1f1; }
  .zipcode::placeholder, .timeinput::placeholder, .bikeInput::placeholder {
    color: #2a4e6c; }

.popup3 {
  background-color: #4e4b45;
  padding: 10px;
  top: 30%;
  left: 10%;
  position: absolute;
  text-align: left;
  box-shadow: 2px 2px 4px rgba(100, 100, 100, 0.5);
  transition: transform .5s;
  z-index: 20;
  transform: rotateX(0);
  width: 80%; }

.popup4 {
  background-color: rgba(150, 150, 150, 0.8); }

.shrink {
  transform: rotateX(90deg); }

.mi2 {
  top: 0;
  right: 0; }

.mi2 span {
  background-color: #f1f1f1; }

.mi2 span::before {
  background-color: #f1f1f1; }

.timeinput {
  width: 82%;
  height: 36px; }

.question, .question2 {
  padding: 2px 8px;
  background-color: #f1f1f1;
  color: #2a4e6c;
  margin-left: 5px;
  box-shadow: 3px 2px 2px rgba(200, 200, 200, 0.5);
  float: right;
  border-radius: 5px; }

.accordianHead {
  display: inline-block;
  padding: 0 5px; }

.question2 {
  margin-top: 10px; }

.zipbutton, .zipbutton4 {
  padding: 5px 15px;
  border-radius: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  color: #f1f1f1;
  float: right;
  height: 32px; }

.zipbutton4 {
  margin-right: 5px; }

.zipbutton3 {
  padding: 3px 5px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  color: #2a4e6c;
  text-align: left;
  font-size: 16px;
  height: 32px; }

.or {
  margin: 0 0 5px 45px; }

.inView {
  animation: lSlide 1s forwards; }

.outView {
  animation: backSlide 1s; }

ul {
  margin-top: 3px; }

li {
  margin-bottom: 7px;
  font-size: 16px; }

.sunbutton {
  width: 14%;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 3px 2px 2px rgba(200, 200, 200, 0.5);
  background-color: #f1f1f1;
  display: inline-block;
  transform: translateY(10px);
  margin-top: -15px;
  margin-left: 5px; }

.sunbutton img {
  width: 31px;
  margin: 0 auto;
  display: block; }

.advice2 {
  position: absolute;
  background-color: white;
  transform: translateX(102%);
  top: 190px;
  right: 0;
  padding: 0 10px 10px 10px;
  font-size: .6rem;
  transition: 1s ease-in;
  box-shadow: -3px 2px 2px rgba(200, 200, 200, 0.7);
  z-index: 100;
  width: 90%; }

.advice2 h3 {
  color: #2a4e6c; }

.advice2 span {
  float: right;
  color: #2a4e6c; }

.show {
  transform: translateX(0);
  transition: 1s ease-out; }

.warning {
  border: solid 2px yellow; }

.zipAlert {
  color: yellow;
  margin: 5px 0; }

.closeZipBox {
  height: 20px; }

.iconHolderP {
  position: absolute;
  right: 5px;
  top: 8px;
  width: 40px;
  height: 40px; }

.back {
  height: 320px;
  transition: height 1s; }

.next {
  height: 460px;
  transition: height 1s; }

.expand {
  height: 0;
  transition: height 1s; }

/* open popup */
@keyframes nextExpand {
  0% {
    height: 0; }
  50% {
    height: 0; }
  100% {
    height: 460px; } }
.rotateArrow {
  transform: rotate(90deg); }

hr {
  margin: 10px 0; }

.expand .menuIcon {
  display: none; }

.box {
  margin-top: 25px; }

.mir {
  top: 0; }

.noShow {
  display: none; }

/*keyframes */
/*@keyframes openUp {
    0% {transform: scale(.03, 0);}
    50% {transform: scale(.03, 1);}
    100% {transform: scale(1, 1);}
}
@keyframes closeUp {
    0% {transform: scale(1, 1);}
    25% {transform: scale(1, 1);}
    75% {transform: scale(.03, 1);}
    100% {transform: scale(0, 0);}
}*/
/*@keyframes closePopup {
    0% {opacity: 1; transform:  scale(1);}
    100% {opacity: 1; transform:  scale(0);}*/
/*.popback {
    background-color: lightsteelblue;
    height: 100%;
    opacity: .8;
    width: 100vw;
}
.chevron {

}*/
/* flexbox grid. Sets background color and grid*/
section {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%; }

header {
  height: 40px;
  z-index: 100; }

.home {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh; }

/* main section */
.button {
  height: 33.4vh;
  width: 100%;
  position: absolute;
  align-items: center; }
  .button h2 {
    color: #f1f1f1;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 15vh;
    transition: margin .5s; }

.b1 {
  background-image: url(../Thinkstock509116418.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  transform: translate(100%, 0);
  top: 0; }

.b2 {
  background-image: url(../Thinkstock539369426.jpg);
  background-size: cover;
  background-position: center center;
  transform: translate(-100%, 0);
  top: 33.3%; }

.b3 {
  background-image: url(../Thinkstock97731003.jpg);
  background-size: cover;
  background-position: bottom right;
  transform: translate(100%, 0);
  top: 66.6%; }

.slide {
  transform: translate(0, 0);
  transition: transform .5s 1s; }

.buttonBox {
  height: 100%; }

.sunrise {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0px;
  z-index: -1;
  background-image: url(../Thinkstock662977456.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center; }

/* Typography */
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 21, 2018, 2:38:39 PM
    Author     : Dresen_HP
*/
h1 {
  font-family: sans-serif;
  color: #f1f1f1;
  font-size: 35px;
  text-align: center;
  line-height: 2.6rem; }

h2 {
  font-family: sans-serif;
  color: #f1f1f1;
  font-size: 40px;
  margin-top: 1vh;
  font-weight: lighter; }

h3 {
  font-family: sans-serif;
  color: #f1f1f1;
  font-size: 16px;
  font-weight: lighter; }

p {
  display: block;
  font-family: sans-serif;
  color: #f1f1f1;
  font-size: 16px; }

.alert {
  color: yellow;
  font-weight: bold;
  margin: 5px 0; }

label {
  font-family: sans-serif;
  color: #f1f1f1;
  font-size: 16px;
  width: 30%;
  padding-top: 14px; }

/* popup */
/* plan section */
.homeHeader {
  /*z-index: 1000;*/
  position: absolute;
  width: 100%;
  text-align: center;
  transition: z-index .3s; }

.headerHide {
  z-index: 0;
  transition: z-index .3s 1.5s; }

.plan {
  width: 100%;
  top: 0;
  transform: translateX(100%);
  background-image: url(../Thinkstock664927598.jpg);
  background-size: cover;
  background-position: top center;
  z-index: 100;
  transition: .5s  ease-in-out; }

.route {
  position: absolute;
  top: 0;
  height: 100%;
  transform: translateX(-100%);
  transition: .5s  ease-in-out;
  background-image: url(../Thinkstock483582660.jpg);
  background-size: cover; }

.routeBackground {
  background-color: rgba(200, 200, 200, 0.5);
  height: 80vh;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 10px;
  padding-top: 5px; }

.openPlan {
  transform: translate(0);
  transition: .5s 1s ease-in-out; }

.iconHolder {
  margin-left: 0%;
  flex: 0 0 8.33333%;
  align-content: center; }

.menuIcon {
  height: 40px;
  position: absolute;
  padding: 10px;
  transition: background-color .2s ease-in;
  width: 40px;
  z-index: 200;
  right: 0;
  top: 5px; }

.menuIcon:hover {
  background-color: rgba(100, 100, 100, 0.5); }

.menuIcon span {
  align-content: center;
  background-color: #f1f1f1;
  display: block;
  height: 1.5px;
  position: relative;
  transform: rotate(45deg) translate(4px, 8px);
  width: 20px;
  overflow: visible;
  z-index: 1000; }

.menuIcon span::before {
  background-color: #f1f1f1;
  content: "";
  height: 1.5px;
  position: absolute;
  transform: rotate(-90deg);
  width: 20px; }

.map {
  height: 64vh;
  width: 98%;
  margin-left: 1%; }

.location {
  margin: 5px;
  color: #f1f1f1;
  font-size: 20px;
  margin-bottom: 5px;
  background-color: rgba(100, 100, 100, 0.5);
  padding: 5px;
  border-radius: 5px; }

.planHeader {
  margin-top: 13%;
  text-align: center; }

.button .headingTop {
  margin-top: 8vh;
  transition: margin .5s; }

.button .headingTopDown {
  margin-top: 15vh;
  transiion: margin .5s; }

.b1Grow {
  height: 33.4vh;
  top: 0;
  animation: b1grow 0.5s linear 0s 1 forwards; }

.b1Ungrow {
  height: 100vh;
  top: 0;
  animation: b1ungrow 0.5s linear 0s 1 forwards; }

.b1Shrink {
  height: 33.4vh;
  top: 0;
  animation: b1shrink 0.5s linear 0s 1 forwards; }

.b1Unshrink {
  height: 33.4vh;
  top: -33.4vh;
  animation: b1unshrink 0.5s linear 0s 1 forwards; }

.b1Shrink2 {
  height: 33.4vh;
  top: 0;
  animation: b1shrink2 0.5s linear 0s 1 forwards; }

.b1Unshrink2 {
  height: 0;
  top: -34.4vh;
  animation: b1unshrink2 0.5s linear 0.5s 1 forwards; }

.b2Shrink {
  height: 33.4vh;
  top: 33.4vh;
  animation: b2shrink 0.5s linear 0s 1 forwards; }

.b2Unshrink {
  height: 0;
  top: 100vh;
  animation: b2unshrink 0.5s linear 0s 1 forwards; }

.b2Grow {
  height: 33.4%;
  top: 33.4%;
  animation: b2grow 0.5s linear 0s 1 forwards; }

.b2Ungrow {
  height: 100vh;
  top: 0;
  animation: b2ungrow 0.5s linear 0s 1 forwards; }

.b2Shrink2 {
  height: 33.4vh;
  top: 33.4vh;
  animation: b2shrink2 0.5s linear 0s 1 forwards; }

.b2Unshrink2 {
  height: 0;
  top: 0;
  animation: b2unshrink2 0.5s linear 0.5s 1 forwards; }

.b3Shrink {
  height: 33.4vh;
  top: 66.7vh;
  animation: b3shrink 0.5s linear 0s 1 forwards; }

.b3Unshrink {
  height: 0;
  top: 100vh;
  animation: b3unshrink 0.5s linear 0s 1 forwards; }

.b3Shrink2 {
  height: 33.4vh;
  top: 66.7vh;
  animation: b3shrink2 0.5s linear 0s 1 forwards; }

.b3Unshrink2 {
  height: 0;
  top: 100vh;
  animation: b3unshrink2 0.5s linear 0s 1 forwards; }

.b3Grow {
  height: 33.4vh;
  top: 66.7vh;
  animation: b3grow 0.5s linear 0s 1 forwards; }

.b3Ungrow {
  height: 100vh;
  top: 0;
  animation: b3ungrow 0.5s linear 0.5s 1 forwards; }

@keyframes b1grow {
  0% {
    height: 33.4vh; }
  50% {
    height: 66.7vh; }
  99% {
    height: 100vh; }
  100% {
    height: 100vh; } }
@keyframes b1ungrow {
  0% {
    height: 100vh; }
  50% {
    height: 66.7vh; }
  100% {
    height: 33.4vh; } }
@keyframes b1shrink {
  0% {
    height: 33.4vh;
    top: 0; }
  99% {
    height: 33.4vh;
    top: -33.4vh; }
  100% {
    height: 33.4vh;
    top: -33.4vh; } }
@keyframes b1unshrink {
  0% {
    height: 33.4vh;
    top: -33.4vh; }
  1% {
    height: 33.4vh;
    top: -33.4vh; }
  100% {
    height: 33.4vh;
    top: 0; } }
@keyframes b1shrink2 {
  0% {
    height: 33.4vh;
    top: 0; }
  50% {
    height: 33.4vh;
    top: 0; }
  99% {
    height: 33.4vh;
    top: -33.4vh; }
  100% {
    height: 33.4vh;
    top: -33.4vh; } }
@keyframes b1unshrink2 {
  0% {
    height: 33.4vh;
    top: -33.4vh; }
  1% {
    height: 33.4vh;
    top: -33.4vh; }
  50% {
    height: 33.4vh;
    top: -33.4vh; }
  100% {
    height: 33.4vh;
    top: 0; } }
@keyframes b2shrink {
  0% {
    height: 33.4vh;
    top: 33.4vh; }
  50% {
    height: 33.4vh;
    top: 66.7vh; }
  99% {
    height: 33.4vh;
    top: 100vh; }
  100% {
    height: 0;
    top: 100vh; } }
@keyframes b2unshrink {
  0% {
    height: 0;
    top: 100vh; }
  1% {
    height: 33.4vh;
    top: 100vh; }
  50% {
    height: 33.4vh;
    top: 66.7vh; }
  100% {
    height: 33.4vh;
    top: 33.4vh; } }
@keyframes b2grow {
  0% {
    height: 33.4vh;
    top: 33.4vh; }
  99% {
    height: 100vh;
    top: 0; }
  100% {
    height: 100vh;
    top: 0; } }
@keyframes b2ungrow {
  0% {
    height: 100vh;
    top: 0; }
  1% {
    height: 100vh;
    top: 0; }
  100% {
    height: 33.4vh;
    top: 33.4vh; } }
@keyframes b2shrink2 {
  0% {
    height: 33.4vh;
    top: 33.4vh; }
  50% {
    height: 33.4vh;
    top: 0; }
  99% {
    height: 33.4vh;
    top: 0; }
  100% {
    height: 0;
    top: 0; } }
@keyframes b2unshrink2 {
  0% {
    height: 0;
    top: -33.4vh; }
  1% {
    height: 33.4vh;
    top: -33.4vh; }
  50% {
    height: 33.4vh;
    top: 0; }
  100% {
    height: 33.4vh;
    top: 33.4vh; } }
@keyframes b3shrink {
  0% {
    height: 33.4vh;
    top: 66.7vh; }
  50% {
    height: 33.4vh;
    top: 66.7vh; }
  99% {
    height: 33.4vh;
    top: 100vh; }
  100% {
    height: 0;
    top: 100vh; } }
@keyframes b3unshrink {
  0% {
    height: 0;
    top: 100vh; }
  50% {
    height: 33.4vh;
    top: 66.7vh; }
  100% {
    height: 33.4vh;
    top: 66.7vh; } }
@keyframes b3shrink2 {
  0% {
    height: 33.4vh;
    top: 66.7vh; }
  99% {
    height: 33.4vh;
    top: 100vh; }
  100% {
    height: 0;
    top: 100vh; } }
@keyframes b3unshrink2 {
  0% {
    height: 0;
    top: 100vh; }
  1% {
    height: 33.4vh;
    top: 100vh; }
  100% {
    height: 33.4vh;
    top: 66.7vh; } }
@keyframes b3grow {
  0% {
    height: 33.4vh;
    top: 66.7vh; }
  50% {
    height: 66.7vh;
    top: 33.4vh; }
  99% {
    height: 100vh;
    top: 0; }
  100% {
    height: 100vh;
    top: 0; } }
@keyframes b3ungrow {
  0% {
    height: 100%;
    top: 0; }
  1% {
    height: 100%;
    top: 0; }
  50% {
    height: 66.7vh;
    top: 33.4vh; }
  100% {
    height: 33.4vh;
    top: 66.7vh; } }
.sunrise h1 {
  font-size: 30px;
  color: #f1f1f1; }

.sunrise h2 {
  font-size: 25px;
  color: #f1f1f1; }

.sunrise p {
  font-size: 16px;
  color: #f1f1f1;
  margin-top: 20px; }

.homeText {
  background-color: rgba(0, 0, 0, 0.6);
  width: 250px;
  padding: 20px;
  text-align: center;
  margin: 30vh auto;
  border-radius: 5px;
  color: #2a4e6c; }

/*# sourceMappingURL=app.css.map */
