/*
    Created on : Mar 21, 2018, 12:58:59 PM
    Author     : Tammy Dresen
*/

@import 'partials/variables';
/* reset */

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
    height: 100%;
    position: relative;
    top:0;
    bottom: 0;
}
body, main {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
}
.main {
    display: flex;
    flex-direction: column;
}

@import 'partials/popup';

/* flexbox grid. Sets background color and grid*/

section {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}


header {
    height: 40px;
    z-index: 100;
}
.home {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;


}

/* main section */

.button {
    height: 33.4vh;
    width: 100%;
    position: absolute;
    align-items: center;
    & h2 {
        color: $light-color;
        font-size: 2.5rem;
        text-align: center;
        margin-top: 15vh;
        transition: margin .5s;
    }
}
.b1 {
    background-image: url(../Thinkstock509116418.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    transform:translate(100%, 0);
    top: 0;



}

.b2 {
    background-image: url(../Thinkstock539369426.jpg);
    background-size: cover;
    background-position: center center;
    transform:translate(-100%, 0);
    top: 33.3%;


}
.b3 {
    background-image: url(../Thinkstock97731003.jpg);
    background-size: cover;
    background-position: bottom right;
    transform: translate(100%, 0);
    top: 66.6%;
}
.slide {
    transform: translate(0, 0);
    transition: transform .5s 1s;
}
.buttonBox {
    height: 100%;

}

.sunrise {
   position: absolute;
   width: 100%;
   height: 100%;
   top:0;
   bottom: 0px;
   z-index: -1;
   background-image: url(../Thinkstock662977456.jpg);
   background-repeat: no-repeat;
   background-size:  cover;
   background-position: bottom center;
}
/* Typography */

@import 'partials/typography';
/* popup */


/* plan section */
.homeHeader {
    /*z-index: 1000;*/
    position: absolute;
    width: 100%;
    text-align: center;
    transition: z-index .3s;

}
.headerHide {
    z-index: 0;
    transition: z-index .3s 1.5s;
}
.plan {
    width: 100%;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
    background-image: url(../Thinkstock664927598.jpg);
    background-size: cover;
    background-position: top center;
    z-index: 100;
    transition: .5s  ease-in-out;

}
.route {

    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: .5s  ease-in-out;
    background-image: url(../Thinkstock483582660.jpg);
    background-size: cover;
}
.routeBackground {
    background-color: rgba(200,200,200,0.5);

    width: 95%;
    margin-left: 2.5%;
    margin-top: 10px;
    padding-top: 5px;

}
.openPlan {
    transform: translate(0);
    transition: .5s 1s ease-in-out;
}




.iconHolder {
    @include grid(0,1);
    align-content: center;
}

.menuIcon {
    height: 40px;
    position: absolute;
    padding: 10px;
    transition: background-color .2s ease-in;
    width: 40px;
    z-index: 200;
    right: 0;
    top:5px;



}

.menuIcon:hover {
    background-color: rgba(100,100,100,0.5);
}
.menuIcon span {
    align-content: center;
    background-color: $light-color;
    display: block;
    height: 1.5px;
    position: relative;
    transform: rotate(45deg) translate(4px, 8px);
    width: 20px;
    overflow: visible;
    z-index: 1000;
}
.menuIcon span::before {
    background-color: $light-color;
    content: "";
    height: 1.5px;
    position: absolute;
    transform: rotate(-90deg);
    width: 20px;

}


.map {
   height: 64vh;
   width: 98%;
   margin-left: 1%;


}


.location {
    margin: 5px;
    color: $light-color;
    font-size: 20px;
    margin-bottom: 5px;
    background-color: rgba(100, 100, 100, 0.5);
    padding: 5px;
    border-radius: 5px;
}

.planHeader {
    margin-top: 20px;
    text-align: center;
}
@import 'partials/home.scss';
