/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 21, 2018, 12:58:59 PM
    Author     : Dresen_HP
*/

@import 'partials/variables';
/* reset */

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    overflow: hidden;
    background-color: $secondary-color;
}

/* Typography */

@import 'partials/typography';


/* flexbox grid. Sets background color and grid*/
html {
   position: relative;
   height: 100%;
}
main {
    @include grid(0, 12);
}
header, main, footer, h1, body {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-between;

    
}

header {
    background-color:  $primary-color;
    @include grid(0, 12);
}

footer {
    background-color: $dark-color;
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    

    
}
/* main section */

.button {
    @include grid(0, 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.button1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $light-color;

}
.settings {
    @include grid(.5,1);
    & div {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $secondary-color;
      position: relative; 
      &::after {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $primary-color;
        content: '';
        position: absolute;
        z-index: 20;
        left: 2px;
        top: 2px;  
      }
    }
    
    
}
.sunrise {
   position: absolute;
   width: 100%;
   height: 100%;
   top:20%;
   bottom: 0px;
   z-index: -1;
   background: $gradient1;
}

/* popup */
@import 'partials/popup';