/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 21, 2018, 2:38:39 PM
    Author     : Dresen_HP
*/

h1 {
    @include text($primary-font, $light-color, 35px);
    text-align: center;
    line-height: 2.6rem;
}

h2 {
    @include text($primary-font, $light-color, 40px);
    margin-top: 1vh;
    font-weight:lighter;
}
h3 {
    @include text($primary-font, $light-color, 16px);
    font-weight: lighter;

}

p {
    display: block;

    @include text($primary-font, $light-color, 16px);
}
.alert {
    color: $alert-color;
    font-weight: bold;
    margin: 5px 0;
}
label {
  @include text($primary-font, $light-color, 16px);
  width: 30%;
  padding-top: 14px;
}
