/*
popup appears when timing or find ride button is pushed.
User enters zipcode and average speed.
*/
/* container for popup */
.popcan {
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    width: 100%;
    z-index: 100;
}
/* open popup */
.openPop {
    animation: openUp 1s both;
}
/* close popup */
.closePop {
    animation: closeUp 1s both;
}
.popback {
    background-color: lightsteelblue;
    height: 100%;
    opacity: .8;
    width: 100vw;
}
.popup {
    background-color: $accent-color;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 40px;
    width: 250px;
    box-shadow: 2px 2px 4px $med-color;
    max-height: 85%;
    overflow-y: scroll;
    & p {
        margin-left: 0;
        
    }
    & .explain {
        margin-top: 30px;
    }
    
    
}
.question, .question2 {
        padding: 2px 8px;
        background-color: $secondary-color;
        color: $dark-color;
        margin-left: 5px;
        box-shadow: 3px 2px 2px $dark-accent-color;
        float: right;
        border-radius: 5px;
}
.question2 {
    margin-top: 10px;
}
.zipbutton, .zipbutton4 {
    padding: 5px;
    border-radius: 10px;
    width: 98%;
    margin-top: 15px;
    background-color: $secondary-color;
    font-size: 16px;
}
.zipbutton4 {
    @include grid(1, 5);
    width: 50%;
    
        
}
.zipbutton3 {
    padding: 3px 5px;
    border-radius: 5px;
    width: 98%;
    margin-bottom: 15px;
    background-color: $light-color;
    border: none;
    box-shadow: 3px 2px 2px $dark-accent-color;
    text-align: left;
    font-size: 16px;

    
}
.or {
    margin: -5px 0 5px 30px;
}
.openPop .popup {
    animation: openPopup 1s both;
}
.closePop .popup {
    animation: closePopup .5s both;
}

.inView {
    animation: lSlide 1s forwards;
}
.outView {
    animation: backSlide 1s;
}
.zipcode, .timeinput {
    box-shadow: 3px 2px 2px $dark-accent-color;
    border: none;
    font-size: 16px;
    width: 98%;
    color: $dark-color;
    margin-bottom: 10px;
    &:focus {
        border: solid 2px $dark-accent-color;
        
    }

    
}
.timeinput {
    width: 78%
}
ul {
    margin-top: 3px;
}
li {
    margin-bottom: 7px;
    font-size: 16px;
}

.sunbutton {
    width: 35px;
    height: 30px;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 3px 2px 2px $dark-accent-color;
    background-color: $light-color;
    display: inline-block;
    transform: translateY(5px);
    margin-top: -15px;
    margin-left: 5px;
}
.advice2 {
    position: absolute;
    background-color: white;
    transform: translateX(150px);
    
    right: 0;
    padding: 0 10px 10px 10px;
    font-size: .6rem;
    transition: 1s ease-in;
    box-shadow: -3px 2px 2px $xdark-accent-color;
}

.advice2 {
    transform: translateX(360px);
    top: 190px;
    right: 0px;
    z-index: 100;
    width: 90%
    
}
.advice2 span {
    float: right;
}
.show {
    transform: translateX(0);
    transition: 1s ease-out;
}
.warning {
    border: solid 2px $alert-color;
}
.zipAlert {
    color: $alert-color;
    margin: 5px 0;
}
.zipbox {
    
    border-radius: 5px;
    padding: 5px;
    margin: 5px 2px;
    background-color: #fdfde9;
}
.closeZipBox {
    height: 20px;
}

.open {
    background-color: $accent-color;
     
    
}
.open .planH2 {
    
    height: 30px;
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 0 5px;


}
.open .backButton {

    font-size: 1em;
    display:inline-block;
    color: $light-color;
    font-weight: bold;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    font-family: $secondary-font;
}
.accordianHead {
    display: inline-block;
    padding: 0 5px;
}
.hide .backButton {
    width: 0;
    
}

.open .arrow {
    color: $primary-color;
    transform:  rotate(90deg);
}
.open .collapse {
    height: auto;
    transition: all 2s ease-in;
}
.open .hide {
    background-color: $accent-color;

}
.expand .collapse {
    height: 0;
    transition: height 2s ease-in;
    
}
.hide .planH2 {
    background-color: $accent-color;
}
.rotateArrow {
    transform: rotate(90deg);
}
hr {
    margin: 10px 0;
    
}
/*keyframes */
@keyframes openUp {
    0% {transform: scale(.03, 0);}
    50% {transform: scale(.03, 1);}
    100% {transform: scale(1, 1);}
}
@keyframes closeUp {
    0% {transform: scale(1, 1);}
    25% {transform: scale(1, 1);}
    75% {transform: scale(.03, 1);}
    100% {transform: scale(0, 0);}
}
@keyframes openPopup {
    0% {opacity: 0; transform:  scale(0);}
    75% {opacity: 1; transform:  scale(0);}
    100% {opacity: 1; transform:  scale(1);}
}
@keyframes closePopup {
    0% {opacity: 1; transform:  scale(1);}
    100% {opacity: 1; transform:  scale(0);}


}

