/*
popup appears when timing or find ride button is pushed.
User enters zipcode and average speed.
*/
/* container for popup */
.popcan {
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    width: 100%;
    z-index: 100;
}
/* open popup */
.openPop {
    animation: openUp 1s both;
}
/* close popup */
.closePop {
    animation: closeUp 1s both;
}
.popback {
    background-color: lightsteelblue;
    height: 100%;
    opacity: .8;
    width: 100vw;
}
.popup {
    background-color: $accent-color;
    margin-top: 100px;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 30vh;
    width: 250px;
    box-shadow: 2px 2px 4px $med-color;
    max-height: 85%;
    overflow-y: scroll;
    & p {
        margin-left: 0;
        
    }
    & .explain {
        margin-top: 30px;
    }
    
    
}
.question, .question2 {
        padding: 2px 8px;
        background-color: $secondary-color;
        color: $dark-color;
        margin-left: 5px;
        box-shadow: 3px 2px 2px $dark-accent-color;
        float: right;
}
.question2 {
    margin-top: 10px;
}
.zipbutton {
    padding: 5px;
    border-radius: 10px;
    width: 65%;
    margin-top: 15px;
}
.openPop .popup {
    animation: openPopup 1s both;
}
.closePop .popup {
    animation: closePopup .5s both;
}

.inView {
    animation: lSlide 1s forwards;
}
.outView {
    animation: backSlide 1s;
}
.zipcode {
    box-shadow: 3px 2px 2px $dark-accent-color;
    border: none;
    font-size: .8rem;
    width: 65%;
    color: $dark-color;
    margin-bottom: 10px;
    &:focus {
        border: solid 2px $dark-accent-color;
        
    }
    
}
ul {
    margin-top: 3px;
}
li {
    margin-bottom: 7px;
}

.sunbutton {
    width: 35px;
    height: 30px;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 3px 2px 2px $dark-accent-color;
    background-color: $light-color;
    display: inline-block;
    transform: translateY(5px);
    margin-top: -15px;
    margin-left: 5px;
}
.advice, .advice2 {
    position: absolute;
    background-color: white;
    transform: translateX(150px);
    
    right: 0;
    padding: 0 10px 10px 10px;
    font-size: .6rem;
    transition: 1s ease-in;
    box-shadow: -3px 2px 2px $xdark-accent-color;
}
.advice {
    top: 367px;
}
.advice2 {
    transform: translateX(250px);
    top: 160px;
    z-index: 100;
    width: 80%
}
.show {
    transform: translateX(0);
    transition: 1s ease-out;
}
.warning {
    border: solid 2px $alert-color;
}

/*keyframes */
@keyframes openUp {
    0% {transform: scale(.03, 0);}
    50% {transform: scale(.03, 1);}
    100% {transform: scale(1, 1);}
}
@keyframes closeUp {
    0% {transform: scale(1, 1);}
    25% {transform: scale(1, 1);}
    75% {transform: scale(.03, 1);}
    100% {transform: scale(0, 0);}
}
@keyframes openPopup {
    0% {opacity: 0; transform: translateY(-50%) scale(0);}
    75% {opacity: 1; transform: translateY(-50%) scale(0);}
    100% {opacity: 1; transform: translateY(-50%) scale(1);}
}
@keyframes closePopup {
    0% {opacity: 1; transform: translateY(-50%) scale(1);}
    100% {opacity: 1; transform: translateY(-50%) scale(0);}


}

